body{
	background: url(img/sample-pattern.png);
	font-size: 1.5em;
	font-family: Arvo, serif;


}

header {
	position: relative;
	left: -7px;
	top: -7px;
	width: 101.5%;
	padding: 5px;
	border-bottom: gray solid 1px;
	background: #fff;
	color: darkblue;
	text-align: center;
}

#logo {
	position: absolute;
	width: 150px;
	z-index: 20;
}

nav {
	text-decoration: none;
	padding-bottom: 5px
}

nav div {
	display: inline;
	margin: 0 10px;
	padding: 5px;
	border: gray solid 2px;
	background: darkgray;
}

nav a {
	text-decoration: none;
	color: black;
}

.about {
	margin: auto;
	width: 600px;
	text-align: center;
}

.about p {
	text-align: left;
}

.top5 {
	margin: auto;
	text-align: center;
}

p {
	font-size: 20px;
}

h2 {
	color: darkblue;
}

ol {
	margin: auto;
	width: 500px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: gray solid 1px;
	background: #fff;
	text-align: left;

}

ol li {
	text-decoration: underline;
	margin-bottom: 10px;
	color: darkcyan;
}

ol p {
	margin-top: 10px;
	margin-right: 10px;
}

.info {
	width: 600px;
	margin: auto;
	font-size: 20px;
}

.info ul {
	margin-top: -20px;
	font-size: 15px;
}

footer {
	position: relative;
	width: 101.5%;
	bottom: -8px;
	left: -8px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: white;
	background-color: black;
	font-size: 10px;
	text-align: center;

}